@import './variables.scss';

* {
  margin: 2rem 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  border: 0.1rem solid;
  color: $base-color;
  background: aqua;
  cursor: pointer;
}